@charset "utf-8";

html,body{
  background:#fefefe;
}
#wrapper{
  width:600px; margin:0 auto;
}
h2{
  text-indent:5px;
  /*text-align:center;*/
}
hr.delimiter{
  background:transparent url(delimiter.png) no-repeat 50% 50%;
  display: block;
  margin: 30px 0;
  clear: both;
  border: 0 none;
  height: 10px;
  text-align: center;
}
a{
  border:1px solid #fefefe;
  display:inline-block;
  padding:0px;
}
a:hover{
  color: blue;
}
img,a{
  /*width:100px;*/
  /*height:150px;*/
}
#reading{
}
footer{
  text-align:center;
  margin:2em 0 4em;
}
