@charset "utf-8";

html,body{margin:0; padding:0; height:100%;}

#horizontal-line{border-top:1px solid #eee; position:absolute; top:38.2%; left:0; width:100%;}
#vertical-line{border-left:1px solid #eee; position:absolute; top:0; left:50%; height:100%;}
    #horizontal-line span,#vertical-line span{border:0; background:#eee none; color:#666; text-shadow:1px 1px #fff; padding:0 8px;}

#sign-shadow{position:absolute; left:50%; top:38.2%; margin:-46px 0 0 -146px; width:304px; height:104px; background:#cfcfcf none; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

.hotoo-sign{margin:-50px 0 0 -150px; padding:2px; font-family:'Courier New','SimSun','宋体'; font-size:14px; line-height:14px; width:300px; background:#e6e6e6 none; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; position:absolute; top:38.2%; left:50%;}
    .hotoo-sign dl{margin:0; padding:0;}
    .hotoo-sign dl:after{content:"\0020"; display:block; height:0; clear:both;}
    .hotoo-sign dl{zoom:1;}
        .hotoo-sign dl dt{float:left; font-weight:normal; margin:0; padding:0 0 16px 12px; background:#fff none; width:86px; border:0; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
        .hotoo-sign dl dt pre{margin:0; padding:0; font-family: 'Courier New','Courier'; cursor:default;}
        .hotoo-sign dl dd{margin:0; padding:0 2px; float:right; width:190px; height:100px; position:relative;}
            .hotoo-sign dl dd h2{margin:5px 0 6px 0; padding:0; line-height:2em; font-size:1em;}
            .hotoo-sign dl dd cite{font-size:1.8em; font-style:normal; color:#666;}
            .hotoo-sign dl dd sup{color:#777; font-size:1.8em; font-weight:normal;}
            .hotoo-sign dl dd ul{list-style-type:none; margin:0; padding:0; bottom:0; right:0; position:absolute;}
            .hotoo-sign dl dd ul:after{content:"\0020"; display:block; height:0; clear:both;}
            .hotoo-sign dl dd ul{zoom:1;}
                .hotoo-sign dl dd ul li{list-style-type:none; margin:0 1px; padding:0; float:left; width:32px; height:32px; overflow:hidden;}
                .hotoo-sign dl dd ul li a{color:#666; text-decoration:none; margin:0; padding:32px 0 0 0; width:32px; height:0; overflow:hidden; display:inline-block; background:transparent url(icons.png) no-repeat;}
                .hotoo-sign dl dd ul li.blog a{background-position:0 0;}
                .hotoo-sign dl dd ul li.blog a:hover, .hotoo-sign dl dd ul li.blog a:focus{background-position:0 -32px;}
                .hotoo-sign dl dd ul li.wiki a{background-position:-32px 0;}
                .hotoo-sign dl dd ul li.wiki a:hover, .hotoo-sign dl dd ul li.wiki a:focus{background-position:-32px -32px;}
                .hotoo-sign dl dd ul li.pic a{background-position:-64px 0;}
                .hotoo-sign dl dd ul li.pic a:hover, .hotoo-sign dl dd ul li.pic a:focus{background-position:-64px -32px;}
                .hotoo-sign dl dd ul li.twitter a{background-position:-96px 0;}
                .hotoo-sign dl dd ul li.twitter a:hover, .hotoo-sign dl dd ul li.twitter a:focus{background-position:-96px -32px;}
                .hotoo-sign dl dd ul li.more{width:16px; overflow:visible; position:relative; outline:none;}
                .hotoo-sign dl dd ul li.more a{background-position:-156px 0;}
                .hotoo-sign dl dd ul li.more ul{display:none; position:absolute; top:0; left:16px;
                    border:1px solid #ccc;
                    width:200px; height:240px;
                    overflow:hidden;
                    background:#f8f8f8;
                    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
                    -moz-box-shadow:0 0 8px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
                }
                .hotoo-sigh dl dd ul li.more ul:after{content:"\0020"; display:block; height:0; clear:both;}
                .hotoo-sigh dl dd ul li.more ul{zoom:1;}
                .hotoo-sign dl dd ul li ul:after{content:"\0020"; display:block; height:0; clear:both;}
                .hotoo-sign dl dd ul li ul{zoom:1;}
                .hotoo-sign dl dd ul li.more li{display:block; clear:both; padding:0; margin:0; width:200px; height:2em; line-height:2em; overflow:visible; background:#f8f8f8 none;}
                .hotoo-sign dl dd ul li.more li:first-child{margin-top:4px;}
                    .hotoo-sign dl dd ul li.more li a{display:block; padding:4px 5px 4px 28px; margin:0; width:200px; height:1.2em; line-height:1.3em; color:#000; border-width:1px 0; border-color:transparent; border-style:dashed;}
                    .hotoo-sign dl dd ul li.more li a:hover, .hotoo-sign dl dd ul li.more li a:focus{background-color:#eee; border-color:#ccc;}
                    #github{background-position:-176px -33px;}
                    #google-plus{background-position:-154px -55px;}
                    #flickr{background-position:-128px -78px;}
                    #douban{background-position:-102px -101px;}
                    #google-reader{background-position:-77px -125px;}
                    #delicious{background-position:-50px -152px;}
                    #friendfeed{background-position:-22px -176px;}
                    #aboutme{background-position:4px -198px;}
.hotoo-sign:hover,.hotoo-sign:focus{background-color:#f60;}
.hotoo-sign:hover dl dt{background-color:#fff;}
    .hotoo-sign:hover dl dd cite, .hotoo-sign:focus dl dd cite{color:#fff;}
    .hotoo-sign:hover dl dd sup, .hotoo-sign:focus dl dd sup{color:#fff;}
    .hotoo-sign:hover dl dd ul a, .hotoo-sign:focus dl dd ul a{color:#fff;}
    .hotoo-sign dl dd ul a:hover{}
    .hotoo-sign dl dd li.more:hover{}
    .hotoo-sign dl dd ul li.more:hover a, .hotoo-sign dl dd ul li.more:focus a{background-position:-184px 0;}
    .hotoo-sign dl dd li.more:hover ul, .hotoo-sign dl dd li.more:focus ul{display:block;}
