@charset "utf-8";

/**
 * ad.css
 *
 * @author 冒顿
 * @version 2020-09-03
 */
html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 20px;
}

.AD {
  background: transparent url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1599095155824&di=11d26caf7958f9d2478146fa394ebbd7&imgtype=0&src=http%3A%2F%2Ft8.baidu.com%2Fit%2Fu%3D1484500186%2C1503043093%26fm%3D79%26app%3D86%26f%3DJPEG%3Fw%3D1280%26h%3D853') no-repeat fixed 0 0;
  background-size: cover;

  height: 100px;
  color: #fff;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
