html,body{font-family:Georgia,Times,sans-serif,Arial,Verdana,Helvetica; font-size:18px; margin:0; padding:0; line-height: 130%;}

#wrapper{width:960px; height:100%; margin:0 auto;}
nav{width:100%; margin:0 auto; left:0; top:0;}
    nav ul{list-style-type:none; margin:0; padding:0; height:37px; overflow:hidden;}
    nav ul:after{content:"\0020"; display:block; height:0; clear:both;}
    nav ul{zoom:1;}
        nav ul li{list-style-type:none; margin:0 0 0 0px; padding:0; float:left; background:transparent url(bg/bg_topSearch3.gif) no-repeat scroll -5px 0; border-left:0px solid #dedede; height:37px;}
        nav ul li.first{background-position:0 0;}
        nav ul li.last{background-position:right 0;}
        nav ul li.actived, #main-nav ul li:hover{background-image:url(bg/bg_topSearch3-on.gif);}
            nav ul li a{text-decoration:none; color:#666; margin:0; height:37px; line-height:35px; padding:0 16px; display:block;}
            nav ul li.actived a{color:#f60; padding:0 24px; font-weight:bold;}

#container{width:100%; margin:0 auto; font-size:1.0em;}
body::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
del::selection,
div::selection,
span::selection,
address::selection,
p::selection,
ul::selection,
li::selection,
pre::selection,
blockquote::selection,
code::selection,
sup::selection,
sub::selection,
small::selection,
th::selection,
td::selection,
a::selection,
b::selection,
strong::selection{background-color:#f60; color:#fff;}

body::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
del::-moz-selection,
div::-moz-selection,
span::-moz-selection,
address::-moz-selection,
p::-moz-selection,
ul::-moz-selection,
li::-moz-selection,
pre::-moz-selection,
blockquote::-moz-selection,
code::-moz-selection,
sup::-moz-selection,
sub::-moz-selection,
small::-moz-selection,
th::-moz-selection,
td::-moz-selection,
a::-moz-selection,
b::-moz-selection,
strong::-moz-selection{background-color:#f60; color:#fff;}

h1, h2, h3, h4, h5, h6 {font-family:"Trebuchet MS",serif; margin:.5em 0; line-height:1.2em;}
h1{font-size:1.8em; border-bottom:1px solid #eee;}
h2{font-size:1.6em; font-weight:normal; border-bottom:1px solid #eee;}
/*h2:first-letter{font-size:1.25em; font-weight:bold;}*/
h3{font-size:1.3em; font-weight:normal; border-bottom:1px dashed #e3e3e3;}
h4{font-size:1.2em;}
h5{font-size:1.1em;}
h6{font-size:1.0em;}
h1:after{content:'¶'; color:#999;}
h2:after{content:'¶¶'; color:#999;}
h3:after{content:'¶¶¶'; color:#999;}
h1:after, h2:after, h3:after{display:none;}
h1:hover:after, h2:hover:after, h3:hover:after{display:inline;}

address{display:inline;}
p, pre, blockquote, table, ul, ol, dl{margin:.8em 0;}
p{line-height:1.5em;}
ul,ol{margin-left:2em; padding-left: 0.5em;}
ul ul, ul ol, ol ol, ol ul {margin-top: 0.5em; margin-bottom: 0.5em;}
li{margin:0.3em auto; line-height:1.4em;}
dt {font-weight: bold;}
img {border:none; padding:5px;
    -moz-box-shadow:0 0 8px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
a:hover img{
    -moz-box-shadow:0 0 12px #333; -webkit-box-shadow:0 0 12px #333; box-shadow:0 0 12px #333;
}
/*pre {border-left: 1px solid #ccc; margin-left: 2em; padding-left: 0.5em;}*/
pre{
    margin:.5em; padding:5px;
    /*word-wrap:break-word; word-break:break-all;*/
    /*white-space:nowrap;*/
    overflow:hidden;
    background:#f8f8f8 none;
    border-width:1px 0 1px 3px; border-style:solid; border-color:#eee;
    /*-moz-box-shadow:2px 2px 8px #666; -webkit-box-shadow:2px 2px 8px #666; box-shadow:2px 2px 8px #666;*/
    -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
    line-height:1.5em; font-family:"Courier New","\5B8B\4F53"; font-size:.9em;
}
pre:hover{
    overflow:auto;
    padding-bottom:1em\9;
}
code{font-family:"Courier New","\5B8B\4F53"; background:#f8f8f8 none; border:1px dashed #ccc; padding:2px 5px; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; white-space:nowrap;}

blockquote{
    margin:.5em 1em; padding:0.4em 50px; line-height:1.5em; min-height:50px;
    border-width:0; border-color:#ccc; border-style:solid;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
    background-color:#eee; background-image:url(bg/testy-quote-open.gif),url(bg/testy-quote-close.gif);
    background-position:left top,right bottom;
    background-repeat:no-repeat;
    background:#eee url(bg/testy-quote-open.gif) no-repeat\9;
}

table{border-collapse:collapse; border-spacing:0;
    border-width:1px 0 0 1px; border-style:solid; border-color:#ccc;}
table:hover{
    -moz-box-shadow:0 0 8px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
}

    th, td{border-width:0 1px 1px 0; border-style:solid; border-color:#ccc; padding: 0.3em;}
    th{background-color: #f0f0f0;}

hr {border: none; border-top: 1px solid #ccc; width: 100%;}
del{text-decoration:line-through; color: #777777;}

a{color:#002BB8; text-decoration:none;}
a:hover{text-decoration:underline;}
a[href^="http://"],
a[href^="https://"]{background:transparent url(bg/popout.png) no-repeat scroll right 0; padding:0 18px 0 0;}
a[target="_self"],
a[rel="internal"]{background-image:none!important;}

div.toc{border:1px solid #ccc; background:#f8f8f8; float:right; padding:3px;
    -moz-box-shadow:0 0 8px #666; -webkit-box-shadow:0 0 8px #666; box-shadow:0 0 8px #666;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
    div.toc ul{margin:0; padding:0 0 0 1em; *padding:0;}
    div.toc>ul{padding:0;}
    div.toc ul ul{*padding:0 0 0 8px;}
    div.toc li{list-style-type: none; margin:0; padding:0 0 0 18px; background:transparent url(bg/folder.png) no-repeat; font-size:.9em;}

.todo {font-weight: bold; background-color: #f0ece8; color: #a03020;}
.justleft {text-align: left;}
.justright {text-align: right;}
.justcenter {text-align: center;}

/* Comment */
#container p:last-child{
    padding:4px 8px; text-align:left;
    background:#e7f2fd; color:#065fb9;
    -moz-box-shadow:0 0 8px #999; -webkit-box-shadow:0 0 8px #999; box-shadow:0 0 8px #999;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}

/* disqus comments */
#disqus_thread{background:#f6f6f6 none; border-top:1px solid #ddd; padding:10px; -moz-border-radius:0 0 10px 10px; -khtml-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; border-radius:0 0 10px 10px;}
#dsq-content .dsq-trackback-url{width:90%;}
span.comment-count,
a.comment-count{color:#96B196; padding:0!important; background:transparent none!important; line-height:1.2em;}
span.comment-count{font-size:.6em; vertical-align:super;}
a.comment-count{}

footer{border-width:1px 0 0; border-style:solid; border-color:#ccc; background:#fff none; color:#999; text-align:right; margin:0; padding:5px; display:block;}
    footer p{margin:0; padding:0; font-size:.75em;}
    footer a{color:#333; margin:0 5px;}
